@import "tailwindcss";

@theme {
  --color-background: light-dark(
    var(--color-neutral-200),
    var(--color-neutral-800)
  );
  --color-foreground: light-dark(
    var(--color-neutral-950),
    var(--color-neutral-50)
  );
  --color-elevated: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-900)
  );
  --color-primary: var(--color-pink-600);
  --color-primary-foreground: var(--color-white);
}

@utility justify-self-anchor-center {
  justify-self: anchor-center;
}

@layer base {
  :root {
    color-scheme: light dark;
    @apply text-foreground bg-background font-sans;
  }

  body,
  #root {
    @apply min-w-[320px] min-h-screen m-0 flex flex-col;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
